 div {
	width: 300px;
	height: 300px;
	background-color: coral;
	margin: 20px auto;
	padding: 50px;
	border: 5px solid black;
	/*solid, dotted, dashed, double*/
	/*border menambah ukuran elemen*/
}

/*div {
	border-width: 50px;
	border-style:  solid;
	border-color: black;
}*/

/*div {
	border-left: 5px;
	border-right: 10px dashed royalblue;
}*/