div {
	width: 300px;
	height:  300px;
	background-color: coral;
	margin: 20px auto;
	padding: 10px 20px 30px 40px;
	/*atas - kanan - bawah - kiri*/
	
	/*- padding tidak bisa dikasih nilai min*/
	/*- padding tidak bisa dikasih nilai auto*/
	/*- padding menambah ukuran elemen*/
}

